/OneDrive/Documents/NetBeansProjects/test_me_hard_daddy/build/
/OneDrive/Documents/NetBeansProjects/ParentEx/nbproject/private/
/OneDrive/Documents/NetBeansProjects/ParentEx/build/
/_netrc
/[]
/Videos
/VIA
/tipCalculator.fxml
/ThisIsOnlyATest
/T-Engine
/source
/Searches
/scrabbleperhaps.fxml
/Saved Games
/realDocuments
/PycharmProjects
/postgresql_14.exe
/postgresql_10.exe
/OneDrive
/ntuser.ini
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
/ntuser.dat.LOG2
/ntuser.dat.LOG1
/NTUSER.DAT
/Music
/MicrosoftEdgeBackups
/Links
/IntelGraphicsProfiles
/IdeaProjects
/Favorites
/edb_psqlodbc.exe
/edb_pgjdbc.exe
/edb_npgsql.exe
/eclipse-workspace
/eclipse
/Downloads
/Documents
/Contacts
/AppData
/3D Objects
/.vscode
/.viminfo
/.vim
/.templateengine
/.ssh
/.p2
/.nuget
/.nbi
/.matplotlib
/.m2
/.local
/.librarymanager
/.lesshst
/.idlerc
/.gitignore
/.gitconfig
/.eclipse
/.dotnet
/.config
/.CocosCreator
/.cisco
/.cache
/.bundle
/.bash_history
/.angular-config.json
